.container {
	@apply flex 
    h-full 
    w-full 
    flex-col
    pb-4
    md:pb-6
    lg:h-screen
    lg:flex-row
    lg:pb-8
    xl:h-screen 
    xl:flex-row 
    2xl:h-screen 
    2xl:flex-row;
}

.leftContainer {
	@apply flex 
    h-full 
    w-full
    select-none 
    items-center
    justify-center 
    xl:w-1/2
    2xl:w-1/2;
}

.leftContent {
	@apply flex 
    flex-col 
    items-start
    gap-y-8
    py-16
    2xl:gap-y-16
    2xl:py-0;
}

.textP {
	@apply w-52 
    text-xl
    font-medium
    uppercase
    lg:font-normal
    2xl:w-96 
    2xl:text-4xl;
}

.textH2 {
	@apply flex 
    flex-col 
    text-5xl
    font-medium
    uppercase
    leading-none
    lg:text-[8vw] 
    lg:font-normal;
}

.indented {
	@apply indent-12 2xl:indent-40;
}

.rightContainer {
	@apply flex
    h-full
    w-full
    flex-col
    items-center
    justify-center
    space-y-16
    xl:w-1/2 
    2xl:w-1/2
    2xl:space-y-40;
}

.form {
	@apply flex 
    h-max 
    flex-col
    2xl:w-3/4;
}

.formInputs {
	@apply mb-16 
    grid
    h-max
    w-full
    grid-cols-1 
    grid-rows-4 
    gap-x-3
    gap-y-9
    md:grid-cols-2
    md:grid-rows-3
    lg:grid-cols-1
    lg:grid-rows-4
    lg:gap-y-6
    lg:gap-x-0
    2xl:mb-40
    2xl:grid-cols-2
    2xl:grid-rows-3
    2xl:gap-y-16
    2xl:gap-x-6;
}

.formInputContainer {
	@apply flex 
    flex-col;
}

.formInputName {
	@apply col-span-1
    col-start-1
    row-span-1
    lg:col-span-1
    lg:row-start-1;
}

.formInputEmail {
	@apply col-span-1
    row-span-1
    row-start-2
    md:row-span-1
    lg:row-start-2
    2xl:row-span-1;
}

.formLabel {
	@apply select-none 
    text-lg
    font-medium
    uppercase
    text-gray3light
    lg:font-normal;
}

.formInput {
	@apply h-14 
    rounded-none
    border-b
    border-gray2dark 
    bg-transparent 
    font-body 
    text-2xl 
    text-white 
    transition-colors 
    selection:bg-white 
    selection:text-black 
    placeholder:text-xl 
    placeholder:text-gray2dark 
    focus:border-white
    focus:outline-none;
}

.formTextareaContainer {
	@apply col-span-1
    row-span-2
    row-start-3
    flex
    flex-col
    space-y-3
    md:col-span-2
    md:row-start-2 
    lg:row-start-3 
    2xl:col-span-2 
    2xl:row-span-2 
    2xl:row-start-2;
}

.formTextarea {
	@apply h-full 
    resize-none 
    rounded-none
    border-b
    border-gray2dark 
    bg-transparent
    font-body
    text-2xl 
    text-white
    transition-colors 
    selection:bg-white 
    selection:text-black 
    placeholder:text-xl 
    placeholder:text-gray2dark 
    focus:border-white 
    focus:outline-none;
}

.formButton {
	@apply mr-4
    h-6
    w-6
    select-none
    self-end
    bg-transparent
    text-lg 
    font-medium  
    uppercase
    text-white
    transition-colors
    hover:text-gray 
    active:bg-black 
    active:text-white 
    2xl:h-10
    2xl:w-10;
}

.links {
	@apply flex
    w-full
    select-none
    flex-wrap
    items-center
    justify-evenly
    gap-y-3
    gap-x-3
    text-lg
    font-medium 
    uppercase 
    lg:font-normal;
}
