.footer {
	@apply flex 
    h-80 
    w-full 
    items-center 
    justify-evenly 
    overflow-hidden 
    bg-white 
    px-64 
    text-lg 
    text-black 
    mix-blend-difference;
}

.nav {
	@apply flex 
    w-1/3
    items-start 
    justify-between;
}

.col {
	@apply space-y-3;
}

.title {
	@apply text-lg 
    font-medium 
    uppercase;
}

.list {
	@apply space-y-1 
    font-normal;
}

.email {
	@apply flex 
    justify-center;
}

.input {
	@apply flex 
    h-10 
    w-96 
    flex-auto 
    border-b
    border-black 
    bg-white 
    font-normal 
    selection:bg-black 
    selection:text-white 
    placeholder:font-normal 
    placeholder:text-[#aaa] 
    focus:outline-none;
}

.button {
	@apply flex 
    h-10 
    w-10 
    items-center
    justify-end 
    border-b 
    border-black 
    focus:outline-none;
}
