.footerSection {
	@apply flex 
    h-full 
    w-full 
    flex-col 
    items-center 
    pb-4
    md:pb-6
    lg:px-8
    2xl:pb-16;
}

.footerContent {
	@apply mx-auto 
    my-16 
    h-full
    w-max
    select-none
    text-5xl 
    font-medium
    uppercase 
    leading-none 
    md:my-32 
    md:text-[8vw]
    md:font-normal 
    2xl:my-64 
    2xl:font-normal;
}

.footerGetInTouch {
	@apply flex 
    flex-col
    items-end
    justify-between 
    text-lg
    font-medium 
    transition-colors
    hover:text-gray 
    xl:font-normal 
    2xl:text-4xl;
}

.footerGetInTouchArrow {
	@apply h-3 
    w-3 
    2xl:h-5 
    2xl:w-5;
}

.footerLinksContainer {
	@apply flex 
    w-full 
    flex-col
    items-start
    gap-y-8
    text-lg
    font-medium
    uppercase
    text-white
    sm:items-center 
    md:items-center
    xl:flex-row
    xl:justify-between
    xl:font-normal 
    2xl:flex-row 
    2xl:items-center 
    2xl:justify-between;
}

.footerLinks {
	@apply flex 
    select-none
    flex-col
    flex-wrap
    justify-center
    gap-y-3
    gap-x-3
    md:flex-row
    md:gap-x-10
    xl:gap-x-20
    2xl:flex-row
    2xl:items-center;
}
