@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('../../public/fonts/stylesheet.css');

	html,
	body {
		font-family: 'Clash Display';
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
		body {
			color: white;
			background: black;
		}
	}
}

.scroll {
	@apply absolute
	right-0
	bottom-0 
	mr-16 
	flex 
	flex-col 
	items-center 
	space-y-2;
}

.scroll-line {
	@apply relative
	h-24 
	w-0.5 
	bg-[#666666];
}

.scroll-line:after {
	animation: scroll-animation 1.2s infinite;
	@apply absolute 
	w-0.5 
	bg-white 
	content-[''];
}

@keyframes scroll-animation {
	0% {
		@apply h-0
		transition-all
		duration-100;
	}
	100% {
		@apply h-full
		transition-all
		duration-100;
	}
}
