@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('../../public/fonts/stylesheet.css');

	html,
	body {
		font-family: 'Clash Display';
	}

	#__next {
		@apply bg-black text-white;
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
		body {
			color: white;
			background: black;
		}
	}
}

.scroll_down {
	@apply absolute
	right-0
	bottom-0 
	mr-16 
	flex 
	flex-col 
	items-center 
	space-y-5;
}

.scroll_down_line {
	@apply relative
	h-20 
	w-0.5 
	bg-white;
}
