.hero {
	@apply relative z-[1]
	flex
	h-screen
	w-full
	select-none
	items-center
	justify-center;
}

.hero_title {
	@apply absolute
	top-24 
	left-8
	z-[2]
	flex
	flex-col
	items-end
	sm:top-auto
	2xl:left-64;
}

.hero_name {
	@apply overflow-hidden
	text-5xl 
	font-medium
	sm:text-6xl
	lg:text-7xl
	2xl:text-9xl;
}

.hero_dev {
	@apply overflow-hidden
	font-['telegraf']
	text-lg
	font-normal
	text-[#eaeaea] 
	sm:text-xl
	lg:text-2xl
	2xl:text-3xl;
}

.hero_center {
	@apply relative
	flex 
	h-80
	w-full
	items-center
	justify-center 
	sm:h-3/4
	md:h-3/5
	lg:h-2/3
	2xl:h-4/6;
}

.hero_center_left {
	@apply grid
	h-full
	place-content-end;
}

.hero_to_about {
	@apply grid 
	h-10
	w-10
	place-content-center
	place-self-end 
	bg-white
	text-black 
	sm:h-16
	sm:w-16 
	2xl:h-48 
	2xl:w-48;
}

.hero_arrow {
	@apply w-4 
	md:w-6 
	2xl:w-8;
}

.hero_img_container {
	@apply relative
	z-[1] 
	flex
	h-full
	w-52  
	justify-center
	overflow-hidden
	md:w-2/4
	lg:w-1/3
	2xl:h-full 
	2xl:w-1/4;
}

.hero_img_cover {
	@apply absolute 
	z-[2] 
	h-full 
	w-full 
	bg-black
	outline 
	outline-2 
	outline-black;
}

.hero_img_layout {
	@apply relative
	h-full
	w-full 
	bg-black;
}

.hero_image {
	@apply object-cover opacity-90;
}

.hero_center_right {
	@apply h-full;
}

.hero_available {
	@apply flex h-44
	w-10
	flex-col
	items-center
	justify-center
	bg-white  
	sm:mr-10
	sm:h-52
	sm:w-14
	2xl:mr-24 
	2xl:h-96 
	2xl:w-24;
}

.hero_available_text {
	@apply w-max
	rotate-90
	font-medium 
	text-black
	sm:text-lg
	2xl:text-2xl;
}

.main {
	@apply flex 
	h-full 
	w-full
	flex-col
	items-center;
}

.about_section {
	@apply flex
	h-full
	w-full
	select-none
	flex-col
	items-end
	md:h-screen
	md:py-8
	2xl:h-screen
	2xl:py-16;
}

.about_content {
	@apply my-auto 
	flex
	w-full
	flex-col 
	justify-center
	space-y-5
	sm:w-5/6
	md:w-4/5
	md:space-y-8
	2xl:w-3/4
	2xl:space-y-20;
}

.about_main {
	@apply flex 
	flex-wrap 
	text-3xl 
	font-medium 
	uppercase
	md:text-4xl
	2xl:text-6xl;
}

.about_margin {
	@apply ml-80 
	md:ml-40;
}

.about_word {
	@apply mr-2
	font-['telegraf']
	overflow-hidden
	2xl:mr-4;
}

.about_paragraph {
	@apply 2xl:w-1/2;
}

.about_paragraph_one {
	@apply font-['telegraf']
	text-xl
	text-[#eaeaea]
	2xl:text-2xl;
}

.about_paragraph_two {
	@apply mt-5 
	font-['telegraf']
	text-xl 
	text-[#eaeaea]
	md:mt-8
	2xl:text-2xl;
}

.about_me_link {
	@apply relative 
	ml-auto
	mt-5 
	flex
	w-max 
	items-center
	space-x-3 
	text-lg
	font-semibold
	uppercase 
	hover:text-[#FFEFCF]
	md:mt-10
	2xl:mt-20 
	2xl:space-x-6
	2xl:text-lg;
}

.projects_section {
	@apply flex 
	h-full 
	w-full 
	flex-col;
}

.projects_container {
	@apply h-full 
	w-full
	flex-auto
	space-y-64;
}

.recent_project {
	@apply flex 
	h-full
	border
	w-full
	select-none
	flex-col 
	items-center
	space-y-10
	sm:flex-row
	sm:space-y-0
	sm:space-x-10
	2xl:flex-row
	2xl:justify-center
	2xl:space-x-16;
}

.recent_project_line {
	@apply mt-auto
	block
	h-0.5
	w-full
	bg-white;
}

.recent_project_link {
	@apply ml-auto 
	absolute
	bottom-16
	right-16
	hidden 
	h-40
	w-40
	place-content-center
	transition-colors 
	duration-200 
	ease-in-out 
	bg-white
	hover:bg-transparent
	hover:border-2
	border-white
	hover:text-white
	text-black
	2xl:grid;
}

.recent_project_arrow {
	@apply -rotate-45 w-7;
}

.footer {
	@apply flex 
	h-72 w-full
	select-none
	justify-between;
}

.footer_main {
	@apply flex 
	w-full 
	flex-auto 
	flex-col 
	justify-center;
}

.footer_content {
	@apply relative 
	m-auto 
	flex 
	select-none 
	flex-col 
	items-center 
	justify-center;
}

.footer_copy_msg {
	@apply absolute 
	-top-12 
	w-max 
	border 
	border-white 
	px-6 
	py-3 
	font-semibold 
	text-white 
	opacity-40 
	transition-all 
	duration-300
	ease-in-out;
}

.footer_content:hover .footer_copy_msg {
	@apply -top-20
	opacity-100;
}

.footer_email_container {
	@apply overflow-hidden;
}

.footer_info {
	@apply flex 
	w-full 
	select-none 
	flex-col-reverse 
	items-center
	pb-4
	2xl:flex-row 
	2xl:items-center 
	2xl:justify-between 
	2xl:pb-16;
}

.footer_copyright {
	@apply flex 
	w-72 
	justify-center
	2xl:justify-start 
	2xl:text-lg 
	2xl:font-medium;
}

.footer_social {
	@apply my-4 
	flex
	w-max
	flex-col
	space-y-3
	text-lg
	font-medium
	leading-none
	text-[#eaeaea]
	2xl:m-0;
}

.footer_name {
	@apply hidden 
	w-72 
	justify-end 
	space-x-1.5 
	text-lg 
	leading-none 
	2xl:flex 
	2xl:font-medium;
}

.footer_social_link {
	@apply hover:underline;
}
