.menu {
	@apply fixed 
    inset-0 
    z-20 flex 
    -translate-y-full 
    overflow-hidden 
    bg-gray4dark;
}

.menuContent {
	@apply relative 
    flex 
    h-screen
    w-full
    -translate-y-full
    bg-black 
    p-4
    md:p-8
    lg:p-10
    xl:p-16;
}

.name {
	@apply absolute 
    h-max 
    w-max 
    text-xl
    font-medium
    leading-none
    text-white
    opacity-0 
    transition-colors 
    hover:text-gray3light 
    xl:text-3xl 
    xl:font-normal;
}

.close {
	@apply absolute 
    right-4
    h-max 
    w-max 
    opacity-0 
    transition-colors 
    hover:text-gray3light 
    lg:right-10
    xl:right-16;
}

.socials {
	@apply flex 
    h-max 
    w-max
    flex-col 
    gap-8 
    pb-8
    text-lg 
    uppercase 
    opacity-0 
    xl:gap-y-16
    landscape:place-self-end;
}

.socialLinks {
	@apply mr-12 
    flex
    select-none 
    flex-col 
    space-y-3
    xl:space-y-4;
}

.links {
	@apply flex 
    h-full
    w-2/3
    select-none
    flex-col
    text-white 
    lg:ml-auto;
}

.link {
	@apply w-max 
    translate-y-20 
    opacity-0;
}
