@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#__next {
		@apply overflow-hidden 
		bg-black
		text-white;
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
		body {
			color: white;
			background: black;
		}
	}
}

.prose h2 {
	@apply relative 
	flex
	items-center
	pt-7
	font-sans
	text-2xl
	font-medium
	text-white
	md:text-3xl;
}

.prose h3 {
	@apply relative 
	flex
	items-center
	pt-7
	font-sans
	text-xl
	font-medium
	text-white
	md:text-2xl;
}

.prose .anchor {
	@apply absolute 
	flex
	w-full
	no-underline
	opacity-0;
}

.anchor:hover {
	@apply opacity-100
	transition-opacity;
}

.prose .anchor::before {
	@apply -translate-x-full
	pr-3
	text-gray3dark
	content-['#'];
}

.prose .no-line a {
	@apply no-underline;
}

.prose a {
	@apply text-gray6light
	underline
	decoration-gray2dark
	decoration-2
	underline-offset-4;
}

.prose strong {
	@apply font-sans 
	font-medium
	text-white;
}

.prose blockquote {
	@apply border-l-4 
	border-gray3dark
	py-2
	pl-4
	md:pl-5;
}

.prose hr {
	@apply my-2
	w-8
	border-b-2
	border-white
	md:w-10;
}

.prose ul,
.prose ol {
	@apply space-y-2;
}

.prose ul {
	@apply pl-6;
}

.prose ul li {
	@apply list-disc
	pl-3;
}
.prose ol li {
	@apply list-inside 
	list-decimal
	pl-2;
}

.prose li::marker {
	@apply text-right
	text-lg
	text-gray2dark;
}

.prose ol li::marker {
	@apply font-mono 
	text-sm
	md:text-base;
}

.cmd [data-line]::before {
	@apply mr-3
	text-gray3dark
	content-['$'];
}

pre {
	@apply max-h-[80vh]
	overflow-x-auto
	overflow-y-auto
	bg-[#0a0a0a]
	py-3
	leading-none
	md:py-4;
}

code {
	counter-reset: line;
	@apply inline
	border
	border-gray5dark 
	bg-[#0a0a0a]
	px-1
	text-sm
	text-gray3light
	md:text-lg;
}

pre code {
	@apply flex
	min-w-max 
	max-w-full
	flex-col
	border-none
	bg-transparent
	p-0;
}

.prose [data-line] {
	@apply flex
	border-l-2
	border-transparent
	pl-2
	pr-3
	md:px-4;
}
.prose [data-highlighted-line] {
	@apply box-content
	flex
	border-white
	bg-gray6dark;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	@apply mr-5 inline-block 
	w-6
	text-right
	text-gray3dark
	md:mr-8;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
	width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
	width: 3rem;
}

.navbar-show {
	@apply translate-y-0;
}

.navbar-hide {
	@apply -translate-y-full;
}

.center-img {
	object-position: top -860px right 0;
}

.scrollbar {
	background-color: #333;
}

.container {
	@apply w-screen px-4
	md:px-6
	lg:px-8
	2xl:px-16;
}

.scroll_down {
	@apply invisible
	absolute
	bottom-0
	right-0
	flex 
	w-40
	flex-col
	items-center
	space-y-12 
	sm:visible;
}

.scroll_down_line {
	@apply h-full
	w-[1px]
	bg-white;
}

.ring_one {
	animation: rotate_right 5s linear infinite;
}
.ring_two {
	animation: rotate_left 5s linear infinite;
}

@keyframes rotate_right {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate_left {
	0% {
		transform: rotate(-0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
	height: 100vh;
	display: inline-block;
	white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	z-index: 50;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition:
		transform 0.3s,
		opacity 0.3s;
	opacity: 0;
}
.c-scrollbar:hover {
	transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}
[data-scroll-direction='horizontal'] .c-scrollbar {
	width: 100%;
	height: 10px;
	top: auto;
	bottom: 0;
	transform: scaleY(1);
}
[data-scroll-direction='horizontal'] .c-scrollbar:hover {
	transform: scaleY(1.3);
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #444;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
[data-scroll-direction='horizontal'] .c-scrollbar_thumb {
	right: auto;
	bottom: 0;
}
