.container {
	@apply relative
    mb-[-1px]
    mr-[-1px]
    border-y
    border-gray5dark
    py-8
	hover:z-[1]
	md:border
	md:p-8
	lg:p-12
    lg:hover:border-white
    xl:p-14
    2xl:p-16
	landscape:border
    landscape:p-8
    lg:landscape:p-12;
}

.article {
	@apply flex
	h-full
	max-h-[32rem]
	w-full
	max-w-lg
	select-none
	flex-col
	justify-between
	gap-y-5
	bg-black
	2xl:gap-y-8;
}

.title {
	@apply line-clamp-4
	cursor-pointer
    text-2xl
	font-medium
	text-white
	xl:text-2xl
	2xl:text-3xl;
}

.content {
	@apply flex
    w-full
    flex-col
    items-start
	gap-y-5
    2xl:gap-y-8;
}

.overview {
	@apply line-clamp-2
	font-body
	text-lg
	text-gray2light
	2xl:text-xl;
}

.data {
	@apply flex
	w-full
	justify-between
	font-body
	text-sm
	text-gray2dark
	2xl:text-base;
}
