.header {
	@apply flex
	h-max
	w-full 
	select-none 
	flex-col 
	pt-2
	lg:pt-4;
}

.headerList {
	@apply flex 
	items-center 
	justify-between
	py-2
	pr-2 
	text-xs
	font-medium
	uppercase
	leading-none 
	lg:py-3
	lg:pr-3
	lg:text-sm 
	xl:text-base
	xl:font-normal 
	2xl:py-4
	2xl:pr-4;
}

.headerListItems {
	@apply lg:after:content-["Development"];
}

.headerListContact {
	@apply transition-colors
	hover:text-gray3light;
}

.headerNavbar {
	@apply flex
	h-16
	items-center 
	justify-between
	md:h-24
	xl:h-28
	2xl:h-40;
}

.headerName {
	@apply text-2xl 
	font-medium
	uppercase
	leading-none
	md:text-4xl
	md:font-normal
	lg:text-5xl
	2xl:text-6xl;
}

.headerCenter {
	@apply mt-16 
	sm:ml-auto
	sm:mt-8
	sm:w-2/3
	2xl:ml-auto
	2xl:mt-8 
	2xl:w-2/3;
}

.headerDev {
	@apply mb-3 
	text-lg
	font-medium
	uppercase
	lg:text-2xl
	xl:font-normal
	2xl:mb-6 
	2xl:text-4xl;
}

.headerBased {
	@apply text-sm 
	font-medium 
	uppercase
	leading-tight
	xl:font-normal
	2xl:text-lg;
}

.headerMainText {
	@apply mt-16
	text-5xl
	font-medium
	uppercase
	leading-none 
	sm:mt-8
	md:text-[8vw]
	md:font-normal
	2xl:text-[8vw];
}

.main {
	@apply flex 
	h-full 
	w-full
	flex-col
	items-center;
}

.about {
	@apply ml-auto 
	mt-16 
	h-full
	select-none
	sm:w-3/4
	2xl:h-[65vh] 
	2xl:w-4/5;
}

.aboutImage {
	@apply relative 
	h-40
	w-full
	bg-gray6dark 
	md:h-52 
	xl:h-60
	2xl:h-[33vh];
}

.aboutReadMore {
	@apply text-xs 
	font-medium 
	uppercase 
	lg:text-sm
	xl:text-base
	xl:font-normal 
	2xl:text-lg;
}

.aboutDescrip {
	@apply mx-auto 
	mt-8 
	w-5/6
	space-y-16
	text-xl
	font-medium
	uppercase
	sm:w-2/4
	lg:text-2xl 
	xl:w-1/3
	xl:font-normal
	2xl:mt-16 
	2xl:text-4xl;
}

.projects {
	@apply flex 
	h-max
	w-max 
	flex-col 
	text-left 
	text-5xl 
	font-medium
	uppercase 
	leading-none
	md:text-[8vw]
	md:font-normal;
}

.projectSectionDescription {
	@apply mt-6
	text-xl
	font-medium
	uppercase 
	sm:mt-0
	xl:font-normal
	2xl:mt-0 
	2xl:text-2xl;
}

.projectsContainer {
	@apply flex 
	h-screen 
	flex-col 
	justify-evenly 
	sm:h-max 
	sm:space-y-16 
	2xl:space-y-64;
}

.recentProjectLeft {
	@apply flex 
	flex-col 
	gap-x-16
	sm:w-full
	sm:flex-row
	sm:gap-x-8  
	2xl:flex-row;
}

.recentProjectRight {
	@apply flex 
	w-full
	flex-col 
	gap-x-16
	sm:flex-row-reverse
	sm:gap-x-8 
	2xl:flex-row-reverse;
}

.recentProjectImageContainer {
	@apply h-full 
	w-full
	sm:w-1/2 
	xl:w-3/5;
}

.recentProjectImage {
	@apply relative 
	h-40
	w-full 
	bg-[#111]
	md:h-52
	xl:h-60
	2xl:h-[33vh];
}

.recentProjectLabels {
	@apply mt-4 
	flex 
	w-full 
	items-start 
	justify-between;
}

.recentProjectLabel {
	@apply text-xs 
	font-medium 
	uppercase
	lg:text-sm
	xl:text-base
	xl:font-normal
	2xl:text-lg;
}

.recentProjetSourceCode {
	@apply flex 
	flex-col 
	items-end;
}

.recentProjectArrowSourceCode {
	@apply h-2 
	w-2
	lg:h-2.5
	lg:w-2.5
	2xl:h-3 
	2xl:w-3;
}

.recentProjectContentLeft {
	@apply mt-6
	flex 
	h-max
	flex-auto
	flex-col
	items-center
	justify-between
	gap-y-4 
	sm:mt-0
	sm:h-40
	sm:w-1/2
	sm:flex-row
	sm:items-end
	md:h-52
	xl:h-60
	xl:w-1/3
	2xl:mt-0
	2xl:h-[33vh] 
	2xl:flex-row 
	2xl:items-end;
}

.recentProjectContentRight {
	@apply mt-6 
	flex 
	h-max 
	flex-auto
	flex-col
	items-center
	justify-between
	gap-y-4
	sm:mt-0
	sm:h-40
	sm:w-1/2
	sm:flex-row-reverse
	sm:items-end
	md:h-52
	xl:h-60
	xl:w-1/3
	2xl:mt-0
	2xl:h-[33vh] 
	2xl:flex-row-reverse
	2xl:items-end;
}

.recentProjectDescription {
	@apply line-clamp-3
	flex
	w-5/6
	flex-wrap
	text-lg
	font-medium
	uppercase
	sm:w-2/3
	lg:text-2xl
	xl:font-normal
	2xl:line-clamp-none 
	2xl:w-2/5
	2xl:text-4xl;
}

.recentProjectArrowLink {
	@apply hidden 
	h-10 
	w-10
	sm:block
	sm:h-14
	sm:w-14
	2xl:block
	2xl:h-36
	2xl:w-36 
	2xl:p-0;
}
